footer.footer
  .footer__inner
    a.footer__logo.logo(href="#", style="background-image: url('./img/Header/Rectangle 14.png')")
      p.logo__title DubaiRealty
      p.logo__subtitle Real Estate
    ul.footer__menu.menu-footer
      li.menu-footer__item
        a.menu-footer__link(href="") Buy
        ul.menu-footer__sublist.sublist-footer
          li.sublist-footer__item
            a.sublist-footer__link(href="") Apartment in Dubai
          li.sublist-footer__item
            a.sublist-footer__link(href="") House in Dubai
          li.sublist-footer__item
            a.sublist-footer__link(href="") Apartments in Dubai
          li.sublist-footer__item
            a.sublist-footer__link(href="") Loft in Dubai
          li.sublist-footer__item
            a.sublist-footer__link(href="") Penthouse in Dubai
          li.sublist-footer__item
            a.sublist-footer__link(href="") Villa in Dubai
      li.menu-footer__item
        a.menu-footer__link(href="") Services
        ul.menu-footer__sublist.sublist-footer
          li.sublist-footer__item
            a.sublist-footer__link(href="") Property management in Dubai, UAE
          li.sublist-footer__item
            a.sublist-footer__link(href="") Sell ​​property in Dubai, UAE
          li.sublist-footer__item
            a.sublist-footer__link(href="") Rent property in Dubai, UAE
          li.sublist-footer__item
            a.sublist-footer__link(href="") Investments in Dubai, UAE
          li.sublist-footer__item
            a.sublist-footer__link(href="") Real estate for cryptocurrency in Dubai
          li.sublist-footer__item
            a.sublist-footer__link(href="") Moving to Dubai, UAE
      li.menu-footer__item
        a.menu-footer__link(href="") Information
        ul.menu-footer__sublist.sublist-footer
          li.sublist-footer__item
            a.sublist-footer__link(href="") Video
          li.sublist-footer__item
            a.sublist-footer__link(href="") Podcasts
          li.sublist-footer__item
            a.sublist-footer__link(href="") Laws
          li.sublist-footer__item
            a.sublist-footer__link(href="") Questions and answers
          li.sublist-footer__item
            a.sublist-footer__link(href="") Books
          li.sublist-footer__item
            a.sublist-footer__link(href="") Articles
      li.menu-footer__item
        a.menu-footer__link(href="") About company
        ul.menu-footer__sublist.sublist-footer
          li.sublist-footer__item
            a.sublist-footer__link(href="") Jobs
          li.sublist-footer__item
            a.sublist-footer__link(href="") Story
          li.sublist-footer__item
            a.sublist-footer__link(href="") Licenses
          li.sublist-footer__item
            a.sublist-footer__link(href="") Why are we
          li.sublist-footer__item
            a.sublist-footer__link(href="") Real estate agency
      li.menu-footer__item
        a.menu-footer__link(href="") Contact
        a.menu-footer__address(href="https://goo.gl/maps/ZGLD5rfFRRsVr2nt9", target="_blank") 964 Worthington Drive <br> Dubai, UAE
        .menu-footer__info
          a.menu-footer__mail(href="mailto:dubairealty@mail.com") dubairealty@mail.com
          button.footer__btn.page-btn.open-btn(type="button", role="button") Book a consultation
.copyright
  .copyright__inner
    p.copyright__rights Copyright © 2022 Dubai Realty
    ul.copyright__social.social
      li.social__item
        a.social__link(href="")
          svg.social__icon
            use(xlink:href="#icon3")
      li.social__item
        a.social__link(href="")
          svg.social__icon
            use(xlink:href="#icon1")
      li.social__item
        a.social__link(href="")
          svg.social__icon
            use(xlink:href="#youtube")
      li.social__item
        a.social__link(href="")
          svg.social__icon
            use(xlink:href="#instagram")
      li.social__item
        a.social__link(href="")
          svg.social__icon
            use(xlink:href="#icon2")
