$font-size: 14;
$font-primary: "Work Sans", sans-serif;
$font-secondary: "Gilroy", sans-serif;

/*
font-family: 'Lexend', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/
// Color
// fcd54c - yellow
// 272727 - dark
